// Colors
$white: #FFFFFF;
$blue: #3498DB;

$c_bg: $white; // background
$c_fg: #333333; // foreground
$c_hd: #74c15b; // header
$c_ln: #6A7FDB; // link

// Shades
$s_bg: darken($c_bg, 5);
$s_fg: lighten($c_fg, 20);

// Fonts
$f_body: source-sans-pro, sans-serif;
$f_head: proxima-nova, sans-serif;
$f_code: source-code-pro, monospace;

// Vendor
@import 'vendor/normalize';
@import 'vendor/jeet/index';
@import 'vendor/social/csmb';

// Site
@import 'app/type';
@import 'app/button';
@import 'app/body';
@import 'app/header';
@import 'app/footer';
@import 'app/main';
@import 'app/home';
// @import 'app/article_list';
// @import 'app/article_single';
// @import 'app/project_section';
