<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{ if eq .Site.Title .Title }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{ end }}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/icons/light.css">
  <script src="//use.typekit.net/cne2rvi.js"></script>
  <script>Typekit.load();</script>
</head>
<body>
  <header>
    <div class="container">

      <h1><a href="/">MintCode</a></h1>

      <nav>
      <ul>
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <li {{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }}>
          <a href="{{ .URL }}">
            {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
          </a>
        </li>
        {{ end }}
      </ul>
      </nav>

      <div class="cf"></div>

      <p class="intro">Mintcode is a one-man design &amp; development
      studio,<br>focused on crafting elegant web experiences.</p>

      <a href="/about" class="button">Learn More</a>

    </div>
  </header>
