<article>
  {{ $currentNode := . }}

  {{ if isset .Params.images 0 }}
  {{ range $i, $img := .Params.images }}
  {{ if eq $i 0 }}
  <a class="image" data-lightbox="{{ $currentNode.Title }}" href="{{ $img }}">
    <img src="{{ $img }}" alt="" />
  </a>
  {{ else }}
  <a href="{{ $img }}" data-lightbox="{{ $currentNode.Title }}"></a>
  {{ end }}
  {{ end }}
  {{ end }}

  <h3>{{ .Title }}</h3>

  <p><em>{{ .Description }}</em></p>

  <div class='info'>
    {{ .Content }}

    <div class='links'>
      {{ if .Params.productlink }}
      <a class='button' href="{{ .Params.productlink }}" target="_blank">View Product</a>
      {{ end }}

      {{ if .Params.sourcelink }}
      <a class='button' href="{{ .Params.sourcelink }}" target="_blank">View Source</a>
      {{ end }}
    </div>
  </div>
</article>
