.article-single {
  background: $c_bg;

  padding-top: 2rem;

  .main-img {
  }

  .title {
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  .meta {
    color: lighten($c_fg, 20);
    font-size: 1.6rem;
    font-style: italic;
    border-bottom: 0.5rem solid $s_bg;
    text-align: center;
    margin-top: 0;
  }

  img {
    width: 100%;
  }

}
