.header {
  $bg: $c_0;
  $height: 4rem;

  background: $bg;
  border-bottom: 3px solid darken($bg, 15);

  color: $c_fg;

  h1 {
    margin: 0;
    float: left;

    line-height: $height;
    text-transform: lowercase;
    font-size: 1.5em;
  }

  .nav {
    float: right;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;

    line-height: $height;
  }

  a {
    color: $c_fg;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: lighten($c_fg, 10);
    }
  }
}
