.header {
  $height: 4rem;

  // background: darken($c_bg, 2);
  border-bottom: 5px solid darken($c_bg, 5);

  h1 {
    margin: 0;
    float: left;

    line-height: $height;
    font-size: 1.5em;
    text-transform: lowercase;

    a {
      color: $c_hd;
    }
  }

  .nav {
    float: right;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;

    a {
      color: $c_fg;
      text-transform: uppercase;

      font-size: 0.8em;
      line-height: $height;
    }

    &:after {
      content: '•';
      padding: 0 0.5em;
    }

    &:last-child:after {
      content: '';
    }
  }
}
