.header {
  $height: 6rem;
  background: $c_bg;
  border-bottom: 0.5rem solid $s_bg;

  h1 {
    margin: 0;
    float: left;

    line-height: $height;
    font-size: $height/2;
    text-transform: lowercase;

    a {
      color: $c_hd;
    }
  }

  .nav {
    float: right;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;

    a {
      color: $c_fg;
      text-transform: uppercase;

      font-weight: bold;
      font-size: $height/5;
      line-height: $height;
    }

    &:after {
      content: '•';
      padding: 0 1rem;
      color: lighten($c_fg, 20);
    }

    &:last-child:after {
      content: '';
      padding: 0;
    }
  }
}
