.home {

  section {
    @include cf();
  }

  h3 {
    font-size: 2rem;
    color: $blue;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid lighten($c_fg, 60);

    display: table;
    margin: 3rem auto;
    padding: 0 2rem 0.5rem;
  }

  article {
    @include cf();
    margin-bottom: 2rem;
    @include column(1/2, $cycle: 2);
  }

  .info {
    // display: none;
  }

  .links {
    margin-top: 2rem;
  }

  .button {
    display: inline-block;

    @include mediumButton(
      $c_fg, darken($c_bg, 5),
      $white, $blue
    );
  }

  .image {
    display: block;
    border-radius: 0.2rem;
    overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  li strong {
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 0.5rem;
  }
}
