.project-section {
  margin-top: 2rem;
  max-width: 99.5rem; // 66 + 32.5 + 1

  .project {
    background: $c_bg;
    border: 0.5rem solid $s_bg;
    border-bottom: none;
    box-sizing: border-box;

    margin-bottom: 0.8rem;

    width: 32.5rem;
  }

  .large.project {
    width: 66rem;

    .text {
      border-top: 0.5rem solid $s_bg;
    }
  }

  .project.npm {
    $c: mix($s_bg, $c_hd, 85);

    &, h2 {
      border-color: $c;
    }

    .links {
      background: $c;
    }
  }

  .project.site {
    $c: mix($s_bg, $c_ln, 85);

    &, h2 {
      border-color: $c;
    }

    .links {
      background: $c;
    }
  }

  .image {
    img {
      display: block;
      max-width: 100%;
    }
  }

  h2 {
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: $c_fg;
      padding: 0.5rem;

      &:hover {
        color: $c_ln;
      }
    }
  }

  .stats {
    margin: 0.5rem 1rem;

    li {
      font-size: 1.4rem;
      list-style-type: none;
      color: $s_fg;
      font-style: italic;
    }
  }

  .description {
    font-size: 1.6rem;
    margin: 0.5rem 1rem;
  }

  .content {
    font-size: 1.6rem;
    margin: 0.5rem 1rem;

    p, li {
      color: inherit;
      font-size: inherit;
    }

    li {
      list-style-type: disc;
    }
  }

  .links {
    background: $s_bg;
    margin: 0;
    text-align: right;

    li {
      display: inline-block;
      list-style-type: none;
      padding-left: 0.5rem;
    }

    a {
      font-size: 1.2rem;
      line-height: 2.4rem;
      display: block;
      color: $s_fg;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0.5rem;

      &:hover {
        color: $c_ln;
      }
    }
  }

}
