h1, h2, h3, h4, h5, h6 {
  font-family: $f_head;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid $s_bg;
}

h3 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid $s_bg;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

ul {
  list-style-type: circle;
}

ul, ol {
  padding: 0;
  margin-left: 3rem;
}

p, li, blockquote {
  font-size: 1.8rem;
  line-height: 1.7em;
}

pre, code {
  font-family: $f_code;
  font-size: 1.8rem;
  line-height: 1.6em;
}

pre {
  position: relative;
  padding: 1rem;
}

pre, code {
  background: darken($c_bg, 2);
  border: 0.1rem solid $s_bg;
}

code {
  padding: 0 0.2rem;
}

pre > code {
  background: none;
  border: none;
}

a {
  color: $c_ln;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  display: block;
  background: $s_bg;
  height: 0.5rem;
  border: 0;
  outline: 0;
}

blockquote {
  border-left: 0.5rem solid $c_hd;
  padding: 1rem;
  margin-left: 0;
  font-size: 2.5rem;
  line-height: 3rem;
}
