{{ partial "header.html" . }}

<main class='container project-section'>

  {{ range .Data.Pages }}

    <article class='project'>
      <h2><a href='{{ .Params.links.Github }}'>{{ .Title }}</a></h2>

      <ul class='stats'>
        <li>{{ dateFormat "Jan 2, 2006" .Params.commits.first }} - {{ .Date.Format "Jan 2, 2006" }}</li>
        <li>{{ .Params.commits.total }} Commits</li>
      </ul>

      <p class='description'>{{ .Description }}</p>

      <div class='content'>
        {{ .Content }}
      </div>

      <ul class='links'>
        {{ range $name, $link := .Params.links }}
          <li><a href='{{ $link }}'>{{ $name }}</a></li>
        {{ end }}
      </ul>
    </article>

  {{ end }}

</main>

<script src='/js/masonry.pkgd.min.js'></script>
<script>
var msnry;

function triggerMasonry() {
  // don't proceed if masonry has not been initialized
  if (! msnry) { return; }
  msnry.layout();
}

// initialize masonry on document ready
docReady(function() {
  msnry = new Masonry('.project-section', {
    gutter: 10,
    itemSelector: '.project'
  });
});

// trigger masonry when fonts have loaded
Typekit.load({
  active: triggerMasonry,
  inactive: triggerMasonry
});
</script>

{{ partial "footer.html" . }}
