{{ partial "header.html" . }}

<main class='container project-section'>

  {{ range .Data.Pages }}

    <article class='project'>
      <h2><a href='{{ .Params.links.Github }}'>{{ .Title }}</a></h2>

      <ul class='stats'>
        <li>{{ dateFormat "Jan 2, 2006" .Params.commits.first }} - {{ .Date.Format "Jan 2, 2006" }}</li>
        <li>{{ .Params.commits.total }} Commits</li>
      </ul>

      <p class='description'>{{ .Description }}</p>
      <p class='content'>{{ .Content }}</p>

      <ul class='links'>
        {{ range $name, $link := .Params.links }}
          <li><a href='{{ $link }}'>{{ $name }}</a></li>
        {{ end }}
      </ul>
    </article>

  {{ end }}

</main>

{{ partial "footer.html" . }}
